
<ng-template #startGameTemplate [ngIf]="stage1">
  <div class="triviaContent">
    <div>
      <h2>Are You Ready ?</h2>
    </div>
    <div>
      Time limit: 
      <input [(ngModel)]="triviaTimer" style="margin-bottom: 40px;" type="number" min="30" max="120" step="5">
    </div>
    <button class="startGameButton" style="margin-bottom: 150px;" (click)="startTriviaSp()">START</button>

  </div>
</ng-template>

<ng-template #gameQuestionsTemplate [ngIf]="stage2">
  
  <div class="triviaContent">
    <countdown #timer [config]="{leftTime:triviaTimer, format: 'mm:ss'}" (event)="handleTimerEvent($event.action)"></countdown>
    <br><br>
    Your Score: {{userScore}}
    <br><br>
    Question {{questionIndex+1}}
  </div>
  <div class="centered">
    <div class="triviaQuestionContainer">
      <div class="triviaQuestion">{{questionsList[questionIndex].question}}</div>
      <div (click)="checkAnswer(questionsList[questionIndex].answers[answersIndexes[0]],0)" class={{answersDivClasses[0]}}>
        {{questionsList[questionIndex].answers[answersIndexes[0]]}}</div>
      <div (click)="checkAnswer(questionsList[questionIndex].answers[answersIndexes[1]],1)" class={{answersDivClasses[1]}}>
        {{questionsList[questionIndex].answers[answersIndexes[1]]}}</div>
      <div (click)="checkAnswer(questionsList[questionIndex].answers[answersIndexes[2]],2)" class={{answersDivClasses[2]}}>
        {{questionsList[questionIndex].answers[answersIndexes[2]]}}</div>
      <div (click)="checkAnswer(questionsList[questionIndex].answers[answersIndexes[3]],3)" class={{answersDivClasses[3]}}>
        {{questionsList[questionIndex].answers[answersIndexes[3]]}}</div>
    </div>
  </div>
</ng-template>

<ng-template #gameResultsTemplate [ngIf]="stage3">
  <div class="triviaContent">
    <div>

      {{correctAnswers}} / {{numberOfQuestions}}
      <br><br>
      Your Score: {{userScore}}
      <br><br>
      <h1 *ngIf="isNewHighscore">New High Score Reached</h1>
    </div>
    <div>
      <span>
        <img src="/assets/data/finished_trivia_star.png" id="finished_trivia_star">
      </span>
    </div>
    <button mat-raised-button color="accent" (click)="playAgain()">
      <mat-icon>refresh</mat-icon>
      Play Again
    </button>
  </div>
  <ngb-accordion (panelChange)="beforeChange($event)" *ngFor="let question of questionsList; index as i">
    <ngb-panel id="preventchange-1" title= {{question.question}}>
      <ng-template ngbPanelContent>
        Given Answer:  {{this.triviaInfo[i].givenAnswer}}
        <br>
        Correct Answer:  {{question.answers[0]}}
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</ng-template>