<div class="mainDiv">
  <mat-toolbar class="navigationbar">
    <div *ngIf="isLoggedIn ; then logout_template; else login_template"></div>
  </mat-toolbar>
<!--   <div *ngIf="!isLoggedIn ; then homepage_template; else [pageToDisplay]" id="main_div"></div>
 -->
  <router-outlet></router-outlet>



  <div class="contactUsDiv">
    <h2>Contact Us</h2>
  </div>



  <!--
    templates for page contents
  -->
  <ng-template #homepage_template>
    <app-homepage></app-homepage>
  </ng-template>

  <ng-template #triviaSp_template>
    <app-trivia></app-trivia>
  </ng-template>

  <!--
    templates for navigation bar, logged in or not
  -->
  <ng-template #login_template>
    <div>
      <button mat-button (click)="open(content,'Log in')">Log in</button>
      <button mat-button (click)="open(content,'Registration')">Register</button>

    </div>
    <div>O&N Trivia</div>
  </ng-template>

  <ng-template #logout_template>
    <div>
      <button mat-button (click)="setPage('triviaSp_template')" routerLink="/triviaSp" routerLinkActive="active">Single Player</button>
      <button mat-button routerLink="/highScores" routerLinkActive="active">Highscores</button>
    </div>
    <div>
      <span id="navbar_player_name">{{userName}}</span>
      <button mat-button (click)="openLogoutDialog()" >Log out</button>
    </div>
  </ng-template>


</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" style="text-align: center;">{{modalTitle}}</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&#10007;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #newUserForm="ngForm" novalidate (ngSubmit)="onSubmit(modalTitle)">

      <div class="form-group">
        <label>Username: </label>
        <input type="text" required name="username" #username="ngModel" [(ngModel)]="user.userName"
          [class.is-invalid]="username.invalid && username.touched" class="form-control" pattern="^[a-zA-Z0-9]{3,}$"
          maxlength="12">
        <div *ngIf="username.errors && (username.valid || username.touched)">
          <small class="text-danger" *ngIf="username.errors.required">username is required</small>
          <small class="text-danger" *ngIf="username.errors.pattern">username must be at least 3 letters long</small>
        </div>
      </div>

      <div class="form-group">
        <label>Password: </label>
        <input type="password" required name="password" #password="ngModel" [(ngModel)]="user.password"
          [class.is-invalid]="password.invalid && password.touched" class="form-control" pattern="^[a-zA-Z0-9]{8,}$"
          maxlength="20">
        <div *ngIf="password.errors && (password.valid || password.touched)">
          <small class="text-danger" *ngIf="password.errors.required">password is required</small>
          <small class="text-danger" *ngIf="password.errors.pattern">password must be at least 8 letters long</small>
        </div>
      </div>

      <div class="form-group" *ngIf="modalTitle=='Registration'">
        <label>Confirm Password: </label>
        <input type="password" required name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="confirmedPassword" 
          [class.is-invalid]="(confirmPassword.invalid && confirmPassword.touched)" class="form-control"
          pattern="^[a-zA-Z0-9]{8,}$" maxlength="20">
        <div *ngIf="confirmPassword.errors && (confirmPassword.valid || confirmPassword.touched)">
          <small class="text-danger" *ngIf="confirmPassword.errors.required">confirm password is required</small>
        </div>
      </div>
      
      <button type="submit" class="btn-primary" [disabled]="newUserForm.form.invalid" (click)="modal.dismiss('Cross click')">Submit</button>
    </form>
  </div>


</ng-template>